{% extends "base.html" %}
{% block Content %}

<div >
    <h1 class='about'> About Us </h1>
    <p>Beer Bee is the most popular alcoholic delivering across the entire world, in terms of quantity consumed. This great demand has led to the establishment of many breweries that are keen to have a share of the market. A survey from March 2017 found that there were more than 19,000 beer companies in 208 countries worldwide, the majority producing craft beers.

        The global beer industry is expected to keep growing in the coming years. However, even as it flourishes, there are some breweries that continue to dominate and control the market. Here are the 7 biggest and most successful beer brands among them.</p>
</div>

{% endblock %}