{% extends "base.html" %}
{% block Content %}

    <div class="backg">
        
        <div class="maincont">
    <div class="cont_g">
        <img src="/static/img/kingfisher-beer.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>kingfisher</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/BroCode.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>BroCode</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/butweiser.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>butweiser</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/Carlsberg-Pilsner.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>Carlsberg-Pilsner</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/coors_1.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>coors</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/Simba Strong.png" class="ginimg" alt="img">
        <div class="information">
            <h2>Simba Strong</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/Foster's.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>Foster's</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/heikwens.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>heikwens</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/corona-.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>corona</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/tuborg-classic-splash.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>tuborg-classic-splash</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/Hoegaarden01.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>Hoegaarden</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/knockout.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>knockout</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/craftbeers.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>craftbeers</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/​Bad Monkey.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>​Bad Monkey</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
</div>
<div class="advertesment">
    <div class="hadding">
        <h2>advertesment</h2>
    </div>
</div>
</div>

    <script src="/static/js/second_pro.js"></script>
    {% endblock %}