{% extends "base.html" %}
{% block Content %}

    <div class="backg">
        
        <div class="maincont">
    <div class="cont_g">
        <img src="/static/img/bra_clovist.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>amrut</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/bra_constantino.webp " class="ginimg" alt="img">
        <div class="information">
            <h2>Beefeater</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/bra_courvoisier.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>gingin</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/bra_hennessy.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>greater_than</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/bra_honeybee.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>hapusa</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/bra_morpheus.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>jaisalmer</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/bra_remy martin.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>jin jiji</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/bra_ti courrier napoleon.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>monkey47</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/bra_ti mansion house.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>pumori</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/bra_torres.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>samsara</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    
</div>
<div class="advertesment">
    <div class="hadding">
        <h2>advertesment</h2>
    </div>
</div>
</div>

    <script src="/static/js/second_pro.js"></script>
    {% endblock %}