{% extends "base.html" %}
{% block Content %}


    <div class="backg">

        <div class="maincont">
            <div class="cont_g">
                <img src="/static/img/gin_amrut.jpg" class="ginimg" alt="img">
                <div class="information">
                    <h2>amrut</h2>
                    <p>some thing about gin</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                    <div class="wrapper">
                        <span class="minus" >-</span>
                        <span class="num" >01</span>
                        <span class="plus" >+</span>
                    </div>
                    <button class="card-btn_add">add to Card</button>
                </div>
            </div>
            <div class="cont_g">
                <img src="/static/img/gin_Beefeater.jpg" class="ginimg" alt="img">
                <div class="information">
                    <h2>Beefeater</h2>
                    <p>some thing about gin</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                    <div class="wrapper">
                        <span class="minus">-</span>
                        <span class="num">01</span>
                        <span class="plus" >+</span>
                    </div>
                    <button class="card-btn_add">add to Card</button>
                </div>
            </div>
            <div class="cont_g">
                <img src="/static/img/gin_gingin.jpg" class="ginimg" alt="img">
                <div class="information">
                    <h2>gingin</h2>
                    <p>some thing about gin</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                    <div class="wrapper">
                        <span class="minus">-</span>
                        <span class="num">01</span>
                        <span class="plus">+</span>
                    </div>
                    <button class="card-btn_add">add to Card</button>
                </div>
            </div>
            <div class="cont_g">
                <img src="/static/img/gin_greater_than.jpg" class="ginimg" alt="img">
                <div class="information">
                    <h2>greater_than</h2>
                    <p>some thing about gin</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                    <div class="wrapper">
                        <span class="minus">-</span>
                        <span class="num">01</span>
                        <span class="plus">+</span>
                    </div>
                    <button class="card-btn_add">add to Card</button>
                </div>
            </div>
            <div class="cont_g">
                <img src="/static/img/gin_hapusa.jpg" class="ginimg" alt="img">
                <div class="information">
                    <h2>hapusa</h2>
                    <p>some thing about gin</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                    <div class="wrapper">
                        <span class="minus">-</span>
                        <span class="num">01</span>
                        <span class="plus">+</span>
                    </div>
                    <button class="card-btn_add">add to Card</button>
                </div>
            </div>
            <div class="cont_g">
                <img src="/static/img/gin_jaisalmer.jpg" class="ginimg" alt="img">
                <div class="information">
                    <h2>jaisalmer</h2>
                    <p>some thing about gin</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                    <div class="wrapper">
                        <span class="minus">-</span>
                        <span class="num">01</span>
                        <span class="plus">+</span>
                    </div>
                    <button class="card-btn_add">add to Card</button>
                </div>
            </div>
            <div class="cont_g">
                <img src="/static/img/gin_jin jiji.jpg" class="ginimg" alt="img">
                <div class="information">
                    <h2>jin jiji</h2>
                    <p>some thing about gin</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                    <div class="wrapper">
                        <span class="minus">-</span>
                        <span class="num">01</span>
                        <span class="plus">+</span>
                    </div>
                    <button class="card-btn_add">add to Card</button>
                </div>
            </div>
            <div class="cont_g">
                <img src="/static/img/gin_monkey47.jpg" class="ginimg" alt="img">
                <div class="information">
                    <h2>monkey47</h2>
                    <p>some thing about gin</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                    <div class="wrapper">
                        <span class="minus">-</span>
                        <span class="num">01</span>
                        <span class="plus">+</span>
                    </div>
                    <button class="card-btn_add">add to Card</button>
                </div>
            </div>
            <div class="cont_g">
                <img src="/static/img/gin_pumori.jpg" class="ginimg" alt="img">
                <div class="information">
                    <h2>pumori</h2>
                    <p>some thing about gin</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                    <div class="wrapper">
                        <span class="minus">-</span>
                        <span class="num">01</span>
                        <span class="plus">+</span>
                    </div>
                    <button class="card-btn_add">add to Card</button>
                </div>
            </div>
            <div class="cont_g">
                <img src="/static/img/gin_samsara.jpg" class="ginimg" alt="img">
                <div class="information">
                    <h2>samsara</h2>
                    <p>some thing about gin</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                    <div class="wrapper">
                        <span class="minus">-</span>
                        <span class="num">01</span>
                        <span class="plus">+</span>
                    </div>
                    <button class="card-btn_add">add to Card</button>
                </div>
            </div>
            <div class="cont_g">
                <img src="/static/img/gin_sipsmith.jpg" class="ginimg" alt="img">
                <div class="information">
                    <h2>sipsmith</h2>
                    <p>some thing about gin</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                    <div class="wrapper">
                        <span class="minus">-</span>
                        <span class="num">01</span>
                        <span class="plus">+</span>
                    </div>
                    <button class="card-btn_add">add to Card</button>
                </div>
            </div>
            <div class="cont_g">
                <img src="/static/img/gin_stranger_and_sons.jpg" class="ginimg" alt="img">
                <div class="information">
                    <h2>stranger_and_sons</h2>
                    <p>some thing about gin</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                    <div class="wrapper">
                        <span class="minus">-</span>
                        <span class="num">01</span>
                        <span class="plus">+</span>
                    </div>
                    <button class="card-btn_add">add to Card</button>
                </div>
            </div>
            <div class="cont_g">
                <img src="/static/img/gin_tanqueray.jpg" class="ginimg" alt="img">
                <div class="information">
                    <h2>tanqueray</h2>
                    <p>some thing about gin</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                    <div class="wrapper">
                        <span class="minus">-</span>
                        <span class="num">01</span>
                        <span class="plus">+</span>
                    </div>
                    <button class="card-btn_add">add to Card</button>
                </div>
            </div>
            <div class="cont_g">
                <img src="/static/img/gin_Terai.jpg" class="ginimg" alt="img">
                <div class="information">
                    <h2>Terai</h2>
                    <p>some thing about gin</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                    <div class="wrapper">
                        <span class="minus">-</span>
                        <span class="num">01</span>
                        <span class="plus">+</span>
                    </div>
                    <button class="card-btn_add">add to Card</button>
                </div>
            </div>
            <div class="cont_g">
                <img src="/static/img/gin_tickle.jpg" class="ginimg" alt="img">
                <div class="information">
                    <h2>tickle</h2>
                    <p>some thing about gin</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                    <div class="wrapper">
                        <span class="minus">-</span>
                        <span class="num">01</span>
                        <span class="plus">+</span>
                    </div>
                    <button class="card-btn_add">add to Card</button>
                </div>
            </div>
        </div>
        <div class="advertesment">
            <div class="hadding">
                <h2>advertesment</h2>
            </div>
        </div>
    </div>

    <script src="/static/js/second_pro.js"></script>
    {% endblock %}