{% extends "base.html" %}
{% block Content %}

    <div class="backg">
        
        <div class="maincont">
    <div class="cont_g">
        <img src="/static/img/r_appleton-estate-rum.png" class="ginimg" alt="img">
        <div class="information">
            <h2>appleton-estate</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/bakardi.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>bacardi</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/captionmorgan1.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>captain-morgan</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/r_contessa-xxx-rum.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>contessa-xxx</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/El_Dorado.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>el-dorado</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/havanclub.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>havana-club</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/Hercules-Mulligan-Rum-Rye.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>hercules</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/jollyroger.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>jolly-roger-caribbean</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/Malibu-Rum.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>malibu-original</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/McDowells.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>mc-dowells-celebration</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/mount-gay.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>mount-gay</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/r_old-monk2.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>old-monk2</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/r_ron-barcelo-rum-1-721x1024.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>ron-barcelo</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/r_sailor-jerry-rum-1024x480.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>sailor-jerry</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/r_zacapa-rum.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>zacapa</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
</div>
<div class="advertesment">
    <div class="hadding">
        <h2>advertesment</h2>
    </div>
</div>
</div>
<script src="/static/js/second_pro.js"></script>
{% endblock %}


