{% extends "base.html" %}
{% block Content %}

    <div class="heading">
        <h1>Get your booze!</h1>
        <h2 class="heading2">We provide fun on your door steps.</h2>
        <form action="" class="Searchbar">
            <input type="text" placeholder="Search your favourite liquor" name="q">
            <button type="submit">
                <img src="/static/img/icons8-search-30.png" alt="png">
            </button>
        </form>
    </div>
    <!-- code for the navigation bar -->

    <!-- code for the product slide -->
    <section class="product">
        <h2 class="product-category">best selling</h2>
        <button class="pre-btn"><img src="/static/img/side_buttons.png" alt=""></button>
        <button class="nxt-btn"><img src="/static/img/side_buttons.png" alt=""></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/img/kingfisher-beer.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Kingfisher</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/img/BroCode.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">BroCode</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/img/butweiser.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Butweiser</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/img/Carlsberg-Pilsner.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Carlsberg</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/img/coors_1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Coors</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/img/Simba Strong.png" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Simba</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/img/Foster's.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Foster</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/img/heikwens.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Heikwens</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/img/corona-.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Corona</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/img/tuborg-classic-splash.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Trborg</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/img/Hoegaarden01.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Hoegaarden</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/img/knockout.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">knockout</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/img/craftbeers.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Craftbeer</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/img/​Bad Monkey.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Bad Monkey</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
        </div>
    </section>
    <!-- code for the product slide -->


    <!-- code for the different items -->
    <div class="bottom_cont">
        <div class="cont">
            <div class="box">
                <a href="gin.html"><img src="/static/img/gin2.jpg" alt="img"></a>
                <h2>Gin</h2>
            </div>
            <a href="vodka.html">
                <div class="box">
            </a>
            <a href="vodka.html"><img src="/static/img/vodka.jpg" alt="img"></a>
            <h2>Vodka</h2>
        </div>
        <div class="box">
            <a href="brandy.html"><img src="/static/img/brandy.jpg" alt="img"></a>
            <h2>Brandy</h2>
        </div>
        <div class="box">
            <a href="whiskey.html"><img src="/static/img/whiskey.jpg" alt="img"></a>
            <h2>Whiskey</h2>
        </div>
        <div class="box">
            <a href="tequila.html"><img src="/static/img/tequila.jpg" alt="img"></a>
            <h2>Tequila</h2>
        </div>
        <div class="box">
            <a href="rum.html"><img src="/static/img/rum.jpg" alt="img"></a>
            <h2>Rum</h2>
        </div>
    </div>
    <!-- code for the different items -->

    <div class="mid">
        
        <div class="midbox">
            <h2>beer bee</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat beatae distinctio praesentium et ullam ipsa fugiat, corporis dolore iusto ad maxime veritatis nihil necessitatibus, minus voluptates asperiores, sapiente nulla. Quod hic tempora harum facilis qui ab, praesentium ipsam tenetur atque cupiditate placeat inventore eos voluptatem rem quibusdam veritatis commodi. Doloremque?</p>
        </div>

    </div>

    <!-- code for info section -->
    
    <script src="/static/js/second_pro.js"></script>
    {% endblock  %}
    <!-- code for info section -->



