{% extends "base.html" %}
{% block Content %}


    <div class="backg">
        
        <div class="maincont">
    <div class="cont_g">
        <img src="/static/img/t_corralejo-anejo-tequila.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>corralejo-anejo-tequila</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_corralejo-blanco-tequila.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>corralejo-blanco-tequila</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_corralejo-reposado.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>corralejo-reposado</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_corralejo-triple-distilled-tequila.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>corralejo-triple-distilled-tequila</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_don-julio-anejo.png" class="ginimg" alt="img">
        <div class="information">
            <h2>don-julio-anejo</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_don-julio-blanco.png" class="ginimg" alt="img">
        <div class="information">
            <h2>don-julio-blanco</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_don-julio-reposado.png" class="ginimg" alt="img">
        <div class="information">
            <h2>don-julio-reposado</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_Gran Patron Burdeos Tequila.png" class="ginimg" alt="img">
        <div class="information">
            <h2>Gran Patron Burdeos Tequila</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_gran-patron-piedra.png" class="ginimg" alt="img">
        <div class="information">
            <h2>gran-patron-piedra</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_gran-patron-platinum.png" class="ginimg" alt="img">
        <div class="information">
            <h2>gran-patron-platinum</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_jose-cuervo-classico-silver-425x1024.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>jose-cuervo-classico-silver</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_jose-cuervo-especial-tequila-401x1024.jpg" class="ginimg" alt="img">
        <div class="information">
            <h2>jose-cuervo-especial-tequila</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_patron-anejo.png" class="ginimg" alt="img">
        <div class="information">
            <h2>patron-anejo</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_patron-xo-cafe.png" class="ginimg" alt="img">
        <div class="information">
            <h2>patron-xo-cafe</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_patrón-silver-tequila.png" class="ginimg" alt="img">
        <div class="information">
            <h2>patrón-silver-tequila</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_riazul-premium-anejo-tequila-695x1024.png" class="ginimg" alt="img">
        <div class="information">
            <h2>riazul-premium-anejo-tequila</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_roca-patron-reposado.png" class="ginimg" alt="img">
        <div class="information">
            <h2>roca-patron-reposado</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/t_roca-patron-silver.png" class="ginimg" alt="img">
        <div class="information">
            <h2>roca-patron-silver</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
</div>
<div class="advertesment">
    <div class="hadding">
        <h2>advertesment</h2>
    </div>
</div>
</div>
<script src="/static/js/second_pro.js"></script>
{% endblock %}
