{% extends "base.html" %}
{% block Content %}
    <div class="backg">
        <div class="maincont">
      <div class="cont_g">
        <img src="/static/img/vodka_absolut.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>absolut</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_42 below.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>42 below</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_artic.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>artic</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_Belvedere.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>Belvedere</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_ciroc.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>ciroc</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_eristoff.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>eristoff</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_finlandia.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>finlandia</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_grey goose.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>grey goose</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_ketel one.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>ketel one</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_magic moments.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>magic moments</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_red bliss.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>red bliss</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_reyka.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>reyka</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_romanov.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>romanov</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_russkiy parliament.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>russkiy parliament</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_seagram's fuel.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>seagram's fuel</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_skyy.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>skyy</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_smirnoff.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>smirnoff</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_stolichnaya.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>stolichnaya</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_vladivar.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>vladivar</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    <div class="cont_g">
        <img src="/static/img/vodka_white mischief.webp" class="ginimg" alt="img">
        <div class="information">
            <h2>white mischief</h2>
            <p>some thing about gin</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num">01</span>
                <span class="plus">+</span>
              </div>
            <button class="card-btn_add">add to Card</button>
        </div>
    </div>
    </div>
    <div class="advertesment">
        <div class="hadding">
            <h2>advertesment</h2>
        </div>
    </div>
</div>

    <script src="/static/js/second_pro.js"></script>
    {% endblock %}